<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>ninuan</title>
  <style>
/*     h1 {
      font-size:40px;
      color:rgb(100,100,100);
      text-align:center;
    } */

    #banner{
      width: 720px;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <h1 class="text-center">hello,i'm a student.</h1>
    <img id="banner" src="static/demo1.png" >
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class="mx-auto" style="width: 200px;">
      <a href='mailto:ninuan123@gmail.com?subject=contant us' class="btn btn-primary" type="button">contant us</a>
    </div>
  </div>
  {% include 'footer.html' %}
</body> 
</html>